<div class="contenedor">
    <div class = "infoCampo">Numero de ticket: </div><div class="dato">{{ticketactual?.numero_ticket}}</div>
    <div class = "infoCampo">Numero de producto:</div><div class="dato">{{ticketactual?.numero_producto}}</div>
    <div class = "infoCampo">Tipo de código y código:</div><div class="dato">{{ticketactual?.tipo_codigo}}</div>
    <div class = "infoCampo">Numero de compra:</div><div class="dato">{{ticketactual?.numero_compra_cot}}</div>
    <div class = "infoCampo">Asunto:</div><div class="dato">{{ticketactual?.asunto}}</div>
    <div class = "infoCampo">Numero de cliente: </div><div class="dato">{{ticketactual?.numero_cliente}}</div>
    <div class = "infoCampo">Télefono:</div><div class="dato">{{ticketactual?.telefono}}</div>
    <div class = "infoCampo">Correo</div><div class="dato">{{ticketactual?.correo}}</div>
    <div class = "infoCampo">Descripción del proudcto:</div><div class="dato">{{ticketactual?.descripcion}}</div>
    <div class = "infoCampo">Estado del ticket:</div><div class="dato">{{ticketactual?.estado}}</div>
    <div class = "infoCampo">Fecha de emisión de ticket:</div><div class="dato">{{ticketactual?.fecha}}</div>
    <div class = "infoCampo">Hora de emisión de ticket:</div><div class="dato">{{ticketactual?.hora}}</div>
</div> 



<div (click)="regresar()"><li><a >Regresar</a></li></div>
