<div class="contenedor">
    <div>{{ticketactual?.numero_ticket}}</div>
    <div>{{ticketactual?.numero_producto}}</div>
    <div>{{ticketactual?.tipo_codigo}}</div>
    <div>{{ticketactual?.numero_compra_cot}}</div>
    <div>{{ticketactual?.asunto}}</div>
    <div>{{ticketactual?.numero_cliente}}</div>
    <div>{{ticketactual?.telefono}}</div>
    <div>{{ticketactual?.correo}}</div>
    <div>{{ticketactual?.descripcion}}</div>
    <div>{{ticketactual?.descripcion}}</div>
    <div>{{ticketactual?.estado}}</div>
    <div>{{ticketactual?.numero_agente}}</div>
    <div>{{ticketactual?.numero_agente}}</div>
    <div>{{ticketactual?.fecha}}</div>
    <div>{{ticketactual?.hora}}</div>
</div>



<div><li><a (click)="regresar()">Regresar</a></li></div>
