
.contenedor{
    background-color: rgba(0, 0, 0, 0.582);
    position: relative;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:white;
    border-radius: 17px;
    text-align: center;
    gap:10px;
    align-items: center;
}
.contenedor div{
    padding: 10px 30px;
}
div li {
    list-style: none;
    margin: 5px 0;
    background-color: black;
    color: white;
    padding: 20px 20px;
    text-align: center;
    border-radius: 17px;
    cursor: pointer;
}
div li:hover{
    background-color: gray;
} 
div li:active{
    background-color: rgb(243, 235, 235);
    color:black
}
.infoCampo {
    position: relative;

    padding-right: 2rem; 
    background-color: #442bb6; 
    min-width: 250px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoCampo:after {
    content: " ";
    position: absolute;
    top: 50%; 
    right: -4rem; 
    border-left: 2rem solid #442bb6; 
    border-top: 1.5rem solid transparent; 
    border-bottom: 1.5rem solid transparent; 
    border-right: 2rem solid transparent; 
    transform: translateY(-50%);
}
.contenedor div:not(.infoCampo) {
    border-bottom: 1px white solid;
}
.dato{
    max-width:400px;
    overflow-wrap: break-word;
}
@media only screen and (max-width: 1000px){
    .contenedor{
        position: relative;
        display: flex;
        flex-flow: column;
        width: 100vw;
    }
    .infoCampo{
        border-radius: 7px;
        font-size: .7em;
    }
    .infoCampo::after{
        border: unset;
    }
}