@import url(https://db.onlinewebfonts.com/c/6c3edd04a03685b9890f2d2cbe81f8d3?family=Carnas+W03+Medium);
body{
    background-image: 
    url('./assets/LINEAS_MOVIMIENTO.webp'), 
    url('./assets/PRUEBA_FONDO_WEB.svg');
    margin:0%;
    padding:0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carnas W03 Medium";
    color: white;
    --azul-solido:rgb(72, 125, 185);
    --azul-claro-solido:hsl(215, 54%, 58%);
    --azul-oscuro-solido:rgb(45, 67, 93);
    --azul-titulo-solido:rgb(123, 169, 226);
    --azul:rgba(72, 125, 185, 0.684);
    --azul-claro:hsl(215, 54%, 58%);
    --azul-oscuro:rgba(45, 67, 93, 0.684);
    --azul-titulo:rgba(123, 170, 226, 0.684);
}

form{
    display: grid;
    grid-template-columns: repeat(minmax(100,1fr)) ;
    grid-template-rows:repeat(8,1fr) 2em;
    width: auto;
    gap: 20px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    z-index: 2;
}
 input, textarea, select{
    background-color: rgba(92, 133, 133, 0.535);
}
form:not(textarea){   
    justify-content: center;
    align-items: center;
}
form label{
    text-align: right;
}
form input, textarea, select{
    border-radius: 7px;
    border: none;
}
form input:not(textarea){
    height: 30px;
    
}

input::placeholder, textarea::placeholder{
    opacity: 0.4;
    
}
textarea{
    resize: none;
}
select{
    padding: 5px;
}

button{
    
    text-transform: capitalize;
    box-shadow: rgb(88, 92, 87) 5px 4px 8px .5px ;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    height: 100%;
    border-radius: 7px;
    border:none;
    justify-content: center;     /* Centra el contenido horizontalmente */
    align-items: center;   
}
.advertenciaformulario{
    position: absolute;
    top: 0;
    color: white;
    background-color: rgba(255, 0, 0, 0.402);
    padding: 20px 100px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}
.enviar{ background-color: green; }
.enviar:active{ background-color: rgb(30, 79, 30); }
.salir{background-color: red;}
.salir:active{ background-color: rgb(102, 19, 19); }

.info{
    position:relative;
}
.info select{
    width: 200px;
    height: 30px;
}

.info input, .info select, .info textarea{
    background-color: var(--azul);
    padding: 0px 20px;
    outline: none;
}
.info span{
    text-transform: capitalize;
    font-size: .9em;
    position: absolute;
    pointer-events: none;
    top:50%;
    transform:translateY(-50%);
    left: 10%;
    color: var(--azul-oscuro);
    transition: top .5s, left .5s, color .5s ;
}

.info textarea +span{
    top:20%
}
.info input:focus + span, .info input.lleno + span,
.info select:focus + span, .info select.lleno + span{
color: white;
left: 0;
top:-30%;
}
.info textarea:focus + span, .info textarea.lleno + span {
    color: white;
    left: 0;
    top:-10%;
}

.info input.ng-touched.ng-invalid{
    border:.3px solid red;
}
h1{
    color:var(--azul-titulo-solido);
    text-align: center;
}