.contenedor{
    position: relative;
    display: flex;
    border: 1px solid hsla(211, 48%, 21%, 0.691);
    padding: 30px 100px;
    border-radius: 18px;
    flex-flow: column;
    background-color: rgba(8, 33, 65, 0.684) ;
    text-transform:uppercase;
    transition: width 2s ease-in-out, height 2s ease-in-out;
    z-index: 0;
}

.contenedor input{
    background-color:rgba(72, 125, 185, 0.322);
    outline: none;
    padding: 0px 20px;
}
.elemento [type = submit]{
    background-color: rgba(72, 125, 185, 0.684);
    color: white;
    padding:10px 30px;
    
}
.elemento input:focus{
    border: green solid 2px;
}
.elemento input.ng-invalid.ng-touched{
    border: rgb(255, 0, 0) solid 2px;
}
.elemento [type = submit]:hover{
    color:gray;
    background-color: rgba(85, 141, 206, 0.684);
}
.elemento [type = submit]:active{
    color:gray;
    background-color: rgb(30, 70, 116);
}
.contenedor > *{
    text-align: center;
}
.alerta{
    position: relative;
    display: inline-flex;
    color:red;
    opacity: .7;
    font-size: 13px;
    text-align: center;
    justify-content: center;
}
.informacion{
    margin-left: 1rem;
}
.envoltura{
    position: relative;
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around;
}
.icon{
    position:absolute;
    display: inline-block;
    left: 0%;
    width: 100%;
}

@media only screen and (max-width: 600px){
    .contenedor{
        
    }
    .contenedor h1{
        position: relative;
        font-size: 2em;
    }
    .contenedor div label{
        position: relative;
        font-size:1em;
        display: flex;
        justify-self: start;
        width: 50%;
        justify-self: start;
    }
    input[type = text], input[type = password]{
        width: 100%;
        height: 50px;
    }
    .advertenciaregistro{
        position: fixed;
        top: 0%;
        width: 100%;
    }

}