.contenedor{
    --tamanio:300px;
    position: absolute;
    display: flex;
    flex-flow: column;
    left: 50%;
    top:50%;
    --gap:10%;
    gap: var(--gap);
    width: var(--tamanio);
    height: var(--tamanio);
    z-index: 2;
    transform: translate(-50%,-50%);
    background-color: var(--azul-oscuro-solido);
    padding: 10%;
    border-radius: 17px;
}
.contenedor>*{
    display: flex;

}

.contenedor-texto{
    flex:3;     
    align-items: center; 
    text-align: center;
}
.contenedor-textarea{flex: 5;}
.botones{
    flex: 1;
    flex-flow: row;
    gap: var(--gap);
}
.elemento{
    width: 100%;
}

