<form [formGroup]="formulario" (submit)="aceptarcerrar()">
<div class = "contenedor">
    
    <div class = "contenedor-texto">
            <span class = "mensaje elemento">¿Desea continuar?</span>
    </div>
    
    <div class = "contenedor-textarea info">
    </div>
    <div class = "botones">
        <button class = "enviar elemento"  type="submit" (click)="colocarPendiente(ticketSeleccionado.numero_ticket)">Colocar pendiente</button>
        <button class= "salir elemento"  (click)="cancelar()">Cancelar</button>
    </div>
</div>
</form>
