*{
    gap: 2%;
}
.contenedor-principal{
    position: absolute;
    display: flex;
    background-color:var(--azul-oscuro-solido);
    padding: 2%;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: space-between;
    height: 50%;
}
.primerapartado, .segundoapartado{
    flex: 1;
}
.apartado{
    display: flex;
    flex-flow: column ;
    font-size: 1rem;
}
.contenedor-textarea{
    justify-content: stretch;
}

.estilobutton{
    color: white;
    height: 50px;
}
.botones{
    width: 50%;
    display: flex;
    flex-flow: row;
    flex:1;
    flex:1 1 auto;
}
.botones>*{
    flex:1;
}


.formulario-comentario{
    display: flex;
    flex-flow: column;
    flex:1 1 auto;
}
.contenedor-textarea{
    width: 100%;
    display: flex;
    flex:7;

}
.estilotextarea{
    border: 1px dotted var(--azul-solido);
    outline: none;
    width: 100%;
}
.segundoapartado{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.cajadecomentarios{
    max-height: 60%;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    
    
}
.contenedor-comentario{
    
    padding: 0px 10%;
    position: relative;
    display: flex;
    border-radius: 17px 17px 17px 17px;
    background-color: var(--azul-solido);
}
.comentario{
    margin: 1vh;
}


@media only screen and (max-width:1000px){
    .contenedor-principal{
        flex-flow: column;
    }
}