*{
    gap: 2%;
}

.ticket-ref{
    text-transform: capitalize;
}

.ticket-ref::before{
    content: "No. de ticket: ";
    text-transform: uppercase;
    font-weight: bolder;
    animation:  colorTitulo 1s ease-in-out 2;
    background-image:linear-gradient(45deg, var(--azul-claro-solido)  , rgb(152, 56, 56)) ;
    -webkit-background-clip:text;
    background-size: 700px;
    color:transparent;
    
    
}
@keyframes colorTitulo {
    0%{
        background-position-x: 0%;
    }
    25%{
        background-position-x: 50%;
    }
    50%{
        background-position-x: 100%;
    }
    75%{
        background-position-x: 50%;
    }
    100%{
        background-position-x: 0%;

    }
    
}
.contenedor-principal{
    position: absolute;
    display: flex;
    background-color:var(--azul-oscuro-solido);
    padding: 20px;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    flex-flow: column;
    z-index: 2;
    justify-content: space-between;
}
.primerapartado{
    display: flex;
    flex: 1;
}
.segundoapartado{
    flex: 4;
    display: flex;
    flex-flow: column;
}
.apartado{
    display: flex;
    flex-flow: column ;
    font-size: 1rem;
}

.estilobutton{
    color: white;
    height: 50px;
}
.botones{
    width: 50%;
    display: flex;
    flex-flow: row;
    flex:1s;
    flex:1 1 auto;
}
.botones>*{
    flex:1;
}


.formulario-comentario{
    flex:1 1 auto;
}
.contenedor-textarea{
    display: flex;
    align-self: stretch;
    flex:3;

}
.estilotextarea{
    border: 1px dotted var(--azul-solido);
    outline: none;
    width: 100%;
}

.cajadecomentarios{
    overflow-x: hidden;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-flow: column;  
    padding: 0px 0px;
}
.comentario{
    margin: 1vh;

}
.contenedor-comentario{
    padding: 0px 10%;
    position: relative;
    display: flex;
    border-radius: 7px 7px 7px 7px;
    background-color: var(--azul-solido);
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry -100% cover 20%;
}
@keyframes show {
    from{
        opacity:  0; scale: 25%;
    }
    to{
        opacity: 1; scale:100%;
    }
    
}



@media only screen and (max-width:1000px){

}