<body>
<div class="container">
	<div class = "primeritem"></div>
	<nav class="segundoitem">
		<ul>
			<li *ngIf ="modo ==='AGENTE'"><a  routerLink="/reporte-clientes" data-text="reportes" >REPORTE DE CLIENTES</a></li>
			<li *ngIf ="modo ==='ADMIN'"><a  routerLink="/organizador-computadoras" data-text="Organiza">ORGANIZADOR COMPUTADORAS</a></li>
			<li ><a routerLink="/generar-tickets" [queryParams]= "{modo:'crear'}"data-text="tickets">GENERAR TICKETS</a></li>
			
			
			<ng-container *ngIf="usuarioActual else login">
				<li><a>{{usuarioActual.nombre}}</a></li>
				<li><a (click)="logout()">LOGOUT</a></li></ng-container>
				<ng-template #login>
					<li><a routerLink="/login">LOGIN</a></li>
				</ng-template>
			
		</ul>
	</nav>
	<div class="terceritem">
		<router-outlet></router-outlet>
		
	</div>
</div>
</body>
