<body>
<div class="container">
	<div class = "primeritem"></div>
	<nav class="segundoitem">
		<ul>
			@if(usuarioActual){
				<li ><a  routerLink="/reporte-clientes" data-text="reportes" >REPORTE DE CLIENTES</a></li>
			}
			@if(usuarioActual && modo ==='ADMIN'){
				<li><a  routerLink="/organizador-computadoras" data-text="Organiza">ORGANIZADOR COMPUTADORAS</a></li>
			}
			<li ><a routerLink="/generar-tickets" [queryParams]= "{modo:'crear'}"data-text="tickets">GENERAR TICKETS</a></li>

			
			@if(usuarioActual){
				<li><a>{{usuarioActual.nombre_usuario}}</a></li>
				<li><a (click)="logout()">LOGOUT</a></li>
			}@else {
				<li><a routerLink="/login">LOGIN</a></li>
			}
			@if(usuarioActual && this.modo === "ADMIN"){
				<li class = "registrar" routerLink="/usuarios">
					<a>usuarios</a>
				</li>
			}
			@if(usuarioActual){
			<li class = "notili">
				<div class = "notificacion icono">
				<i [ngClass]="notificacionesSinLeer?'fa-solid fa-bell fa-shake':'fa-solid fa-bell'" (click)="abrirNotificaciones()" class="campana"></i>
				<app-notificaciones 
				[notificacionesMostradas]="notificaciones"
				(notificacionEvent)="abrirDetallesNotificacion($event)"
				class="bandeja" *ngIf="mostrarNotificaciones"></app-notificaciones>
				</div>
			</li>
			}
			
		</ul>
	</nav>
	<div class="terceritem">
		<router-outlet></router-outlet>
		
	</div>
</div>
</body>
