.container{
  display: grid;
  grid-template-rows:minmax(200px, 3fr); 
  justify-items: center;
  overflow-x:hidden;
  gap: 20px;
}
.primeritem{
  grid-row: 1;
  background-image: url(../assets/LOGO.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  width: 400px;
  
}
.segundoitem{
  grid-row: 2;
  display: flex;
  min-width: 300px;
  width: 50%;
  align-self: center;
  padding: 10px 70px 10px 70px;
  background-color: transparent;
  box-shadow: inset 7px 6px 9px rgba(72, 125, 185, 0.684) , 2px 2px 20px black;
  border-radius: 50px;
  word-wrap: break-word;
  background-color: hsla(211, 48%, 21%, 0.691);
  text-shadow: black 4px 4px 1px;
  font-size: 1.12rem;
  transition: box-shadow 1s ease;
  text-align: center;
  justify-self: center;
}
.segundoitem ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
.segundoitem li{
  display: flex;
  list-style: none;
}
.segundoitem li a{
  color:white;
  
  display: inline-block;
  text-decoration: none;
  padding: 12px 12px;
  position: relative;
}
.segundoitem ul li a::before{
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  bottom:2%;
  background-color: white;
  transition: width .5s linear;
}
.segundoitem ul li a:hover::before{
  width:100%;
}
.segundoitem:hover{
  animation:animacion 1s linear;
}
@keyframes animacion {
  0%{
    box-shadow: inset 7px 6px 9px rgba(72, 125, 185, 0.684) ,2px 2px 20px black;
  }
  25%{
    box-shadow: inset -7px 6px 9px rgba(72, 125, 185, 0.684) , 2px 2px 20px black;
  }
  50%{
    box-shadow: inset 7px -6px 9px rgba(72, 125, 185, 0.684) , 2px 2px 20px black;
  }
  75%{
    box-shadow: inset 3px 3px 9px rgba(72, 125, 185, 0.684) , 2px 2px 20px black;
  }
  100%{
    box-shadow: inset 7px 6px 9px rgba(72, 125, 185, 0.684) ,2px 2px 20px black;
  }
  
}
.terceritem{
  grid-row: 3;
  display: flex;
  justify-self: center;
  align-self: center;
}

@media only screen and (max-width: 600px){
  .container{
    display: flex;
    flex-flow: column;
    margin:5%;
    gap: 50px;
  }
  .primeritem{
    display: flex;
    padding: 0%;
    width: 100%;
  }
  .segundoitem{
    display: flex;
    position:relative;
    flex-flow: row wrap;
    width: 90%;
    padding:0%;
    margin: 0%;
    text-align: center;
    height: auto;
  }
}