<body>
<div class="container">
	<div class = "LOG_ESCOM"></div>
	<div class="primeritem">
		<ul>
			<li><a  routerLink="/reporte-clientes" data-text="reportes" >Reporte de Clientes</a></li>
			<li><a  routerLink="/organizador-computadoras" data-text="Organiza">Oganizador Computadoras</a></li>
			<li><a  routerLink="/generar-tickets" [queryParams]= "{modo:'crear'}"data-text="tickets">Generar-Tickets</a></li>
		</ul>
	</div>
	
	<div class="segundoitem">
		<router-outlet></router-outlet>
	</div>
</div>
<div class="LOG_ESCOM"></div>

</body>