@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


.contenedorpadre{
    display:grid;
    grid-template-rows: 7% auto;
    grid-template-columns: auto;
}
.contenedor1{
    position:relative;
}
.contenedor2{
    grid-row: 2/3;
    left: 50%;
    padding:30px;
    border-radius: 7px;
    
}

#eerror{
    vertical-align: middle;
    grid-row: 1/2;
    z-index: -1;
    width: 50%;
    height: 100%;
    color:white;
    background-color:rgba(255, 0, 0, 0.403);
    border-radius: 7px 7px 0px 0px;
    animation: animacionalerta ease-in-out .2s;
}

@keyframes animacionalerta {
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}

#tnumerocompra{
    grid-column:1;
    grid-row: 1;
}
#numerocompra{
    grid-column: 2;
    grid-row: 1 ;
}
#tcodigo{ grid-area:2 / 1 / 3 / 2; }
#codigo{ grid-area:2 / 2 / 3 / 3; }
#tasunto{ grid-area:3 / 1 / 4 / 2; }
#asunto{ grid-area:3 / 2 / 4 / 3; }
#tnombre_cliente{ grid-area:4 /1/ 5 / 2; }
#nombre_cliente{ grid-area:4 /2/ 5 / 3; }
#tmail{ grid-area: 5 / 1 / 6 / 2; }
#mail{ grid-area: 5 / 2 / 6 / 3; }
#ttelefono{ grid-area: 6 / 1/ 7 / 2; }
#telefono{ grid-area: 6 / 2 / 7 / 3; }
#tdescripcion{ grid-area: 7 / 1 / 8 / 2; }

.personalizada{ 
    grid-area:2/2/3/3;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    flex: 1 1 auto;
    gap: 20px;
}

.personalizada .tipo{
    display: flex;
    flex:1;
}
.personalizada .informacion{
    display: flex;
    flex:2;
}

#descripcion{
    grid-area:7/2/9/3;
    resize:none;
}

.item7  {
    background-color: rgb(63, 110, 63);
    color:white;
    grid-column: 2 / 3;
    grid-row: 9 / 10;              /* Conviertes el botón en contenedor flex */
}
.item7:disabled{
    background-color: rgba(70, 67, 67, 0.266);
    color: rgb(142, 141, 141);
    cursor: not-allowed;
}
.cancelar{
    grid-column:4;
    grid-row: 9;
    background-color: red;
    color: white;
}


.fa {
    color: rgb(111, 99, 204);
    font-size: 1.5em;
}

.contenedortooltip{
    grid-column:3/4 ;
    grid-row: 1/ 2;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size:.8em;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.contenedoricorreo .fa {
    color:rgba(255, 0, 0, 0.637);
    pointer-events: none;
}

.contenedorinombre .fa {
    color:rgba(255, 0, 0, 0.637);
}


.contenedoricorreo{
    grid-area: 5/3/6/4;
    display: flex;
    justify-content:space-between;
    align-content: start;
    margin-right: 4px; 
    margin-left: 0px;
}
.contenedorinombre{
    grid-area: 4/3/5/4;
    display: flex;
    justify-content:space-between;
    align-content: start;
    margin-right: 4px; 
}
.desplegar-modelo{
    grid-area: 2/3/3/4;
    display: flex;
    max-width: 100px;
    width: auto;
    height: auto;
    word-wrap: break-word;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    font-size:10px;
}
.desplegar-modelo label{
    flex:1;
}
.desplegar-modelo input[type = 'checkbox']{
    flex:0;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.personalizada{
    display: flex;
    justify-content: space-between;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-bottom: solid 1px red;
}


/*Agregamos el checkbox con estilos -------------------*/
.reject-checkbox .checkbox-wrapper * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  .reject-checkbox .checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  .reject-checkbox .checkbox-wrapper label {
    --size: 20px;
    --shadow: calc(var(--size) * 0.07) calc(var(--size) * 0.1);
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      hsl(211, 47%, 21%),
      hsl(215, 64%, 46%)
    );
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
  }
  .reject-checkbox .checkbox-wrapper label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * 0.7);
    height: calc(var(--size) * 0.7);
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
  }
  .reject-checkbox .checkbox-wrapper label:hover:before {
    width: calc(var(--size) * 0.55);
    height: calc(var(--size) * 0.55);
    box-shadow: inset 0 var(--shadow) #ff9d96;
  }
  .reject-checkbox .checkbox-wrapper label:active {
    transform: scale(0.9);
  }
  .reject-checkbox .checkbox-wrapper .tick_mark {
    position: absolute;
    top: 3.5px;
    left: 1.5px;
    right: 0;
    width: calc(var(--size) * 0.6);
    height: calc(var(--size) * 0.6);
    margin: 0 auto;
    margin-left: calc(var(--size) * 0.14);
    transform: rotateZ(-92deg);
  }
  .reject-checkbox .checkbox-wrapper .tick_mark:before,
  .reject-checkbox .checkbox-wrapper .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
  }
  .reject-checkbox .checkbox-wrapper .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * 0.1);
    height: calc(var(--size) * 0.3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -0.68));
  }
  .reject-checkbox .checkbox-wrapper .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--size) * 0.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * 0.78));
  }
  .reject-checkbox .checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      hsl(211, 47%, 21%)
    );
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label:before {
    width: 0;
    height: 0;
  }
  
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:before,
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:after {
    background-color: #fff;
    width: calc(var(--size) * 0.4);
    height: calc(var(--size) * 0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .asuntoInput{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  

