<div class="contenedorpadre">
  <div class = "contenedor1">
    
    <div  id="eerror" *ngIf="formularioTickets.invalid">
      Todos los campos son obligatorios.
    </div>
  </div>
  <div class = "contenedor2">
    <form [formGroup]="formularioTickets" (ngSubmit)="onSubmit()">
      <!--ngForm
      #miFormulario="ngForm">-->

      
      <!--Campo para insertar el numero de compra-->
      <label id="tnumerocompra">Numero Compra / Cotización:</label>
      <input id="numerocompra" name="numerocompra" formControlName="numero_compra_cot"> 
      
      
      
      <!--Numero serie input/label envuelto en container para no afectar el estilo aplicado-->
      <!--Colocaremos el caso de que no cuente con el numero de serie-->
      <!--Campo activable para colocar información alterna al numero de serie-->
      <ng-container *ngIf="!formularioTickets.get('ehs_approval')?.value; else opciones" >
        <label id="tcodigo">Número de serie:</label>
      </ng-container>
      <ng-template #opciones>
        <label id="tcodigo">Elija un dato opcional:</label>
      </ng-template>
      <div class = "personalizada">

        <ng-container *ngIf="formularioTickets.get('ehs_approval')?.value">
          <select class="tipo" formControlName="nombre_identificador">
            <option value="modeloMarca">modelo / marca</option>
            <option value="factura">Factura</option>
          </select>
        </ng-container>
        
        <input id="codigo" type="text" class="informacion" formControlName="codigo">
        <ng-container *ngIf="formularioTickets.get('ehs_approval')?.value == 'modeloMarca'">
          <input type="text">
        </ng-container>  
        </div>

      <!--elemento para saber más información acerca del campo de numero de serie-->
      <div class="contenedortooltip">
        <div class="tooltip">
          <span><i class="fa fa-info-circle"></i></span>
          <div class="tooltip-text">En caso de ser un kit de cámaras de caja favor de colocar la serie que tiene la caja</div>
        </div>
      </div>
      <!--Checkbox para activar el campo especial-->
      <div class="desplegar-modelo">
        <label>No cuento con el numero de serie </label>
        <div class="col-md-6 reject-checkbox">
          <div class="mb-2 text-center">
            <div class="checkbox-wrapper">
              <input
                name="ehs_approval"
                class="form-check-label custom-radio-label"
                id="Rejected"
                type="checkbox"
                formControlName = "ehs_approval"
              />
              <label for="Rejected">
                <div class="tick_mark">
                  <div class="cross"></div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>


      <!--Asunto input/label-->
      <label id="tasunto">Asunto:</label>
      <div class="asuntoInput">
        <div class="item"><input id="soporte"  type="radio"  formControlName ="asunto" value="soporte"> </div>
        <div class="item"><label for="soporte" >Soporte</label> </div>
        <div class="item"><input id="garantia"  type= "radio" formControlName="asunto" value="garantia"> </div>
        <div class="item"><label for="garantia">Garantia</label> </div>
        <div class="item"><input id="factura"  type= "radio" formControlName="asunto" value="factura"> </div>
        <div class="item"><label for="factura">Factura</label> </div>
      </div>

      
      <!--Nombre de cliente input/label-->
      <label id="tnombre_cliente">Nombre:</label>
      <input id="nombre_cliente" type="text" formControlName="nombre">

      <!--Cuando no se cumple el patrón correspondiente lanza el siguiente campo de información-->
      <div class="contenedorinombre" *ngIf="contieneNumeros(formularioTickets.get('nombre')?.value)">
        <div class="tooltip">
          <span><i class="fa fa-info-circle"></i></span>
          <div class="tooltip-text">
            Ingrese solo letras
          </div>
        </div>
      </div>


      <!--Correo input/label-->
      <label id="tmail">Correo:</label>
      <input id="mail" type="email" formControlName = "correo"> 

      <!--Cuando no se cumple el patrón correspondiente lanza el siguiente campo de información-->
      <div class="contenedoricorreo" *ngIf="formularioTickets.get('correo')?.invalid && formularioTickets.get('correo')?.touched"><!-- ngModel  
         *ngIf="correoCtrl.invalid && correoCtrl.touched">-->
        <div class="tooltip">
          <span><i class="fa fa-info-circle"></i></span>
          <div class="tooltip-text">Ingrese un correo válido utilizando<br> ejemplo <br>'correo&#64;hotmail.com'</div>
        </div>
      </div>


      <!--Telefono input/label-->
      <label id="ttelefono">Teléfono:</label>
      <input id="telefono" type="tel" formControlName = "telefono" >

      <!--Descripción input/label-->
      <label id="tdescripcion">Descripción:</label>
      <textarea id="descripcion" formControlName = "descripcion" rows="4" cols="50"></textarea>

      <!--boton para interactuar con el formulario-->
      <button *ngIf="modo === 'crear'; else actualizar" type="submit" class="item7" [disabled] = "formularioTickets.invalid"> <!--[disabled]="miFormulario.form.invalid"
      (click)="crearticket($event)">-->
        Guardar
      </button>
      <!--En caso de ser llamado como formulario de actualizar se llama el siguiente botón-->
      <ng-template #actualizar>
        <button type="submit" class="item7"  (click)="solicitaractualizacion()" [disabled] = "formularioTickets.invalid"><!--[disabled]="miFormulario.form.invalid"-->
          Actualizar
        </button>
        <button class="cancelar" type="button" (click)="cancelarFormulario()">
          Cancelar
        </button>
      </ng-template>   
    </form>
  </div>
</div>

