<div class="contenedorpadre">
  <div class = "contenedor1">
    
    <div  id="eerror" *ngIf="formularioTickets.invalid">
      Todos los campos son obligatorios.
    </div>
  </div>
  <div class = "contenedor2">
    <h1>Generar Ticket</h1>
    <form [formGroup]="formularioTickets" (ngSubmit)="onSubmit()" class="miformulario">
      
      <!--Campo para insertar el numero de compra-->
      <div class="info">
        <input formControlName="numero_compra_cot" [class.lleno]="formularioTickets.get('numero_compra_cot')?.value"> 
        <span  >Numero Compra / Cotización:</span>
      </div>
      <div class = "personalizada info">

        @if(formularioTickets.get('ehs_approval')?.value){
          <select class="tipo" formControlName="numero_identificador" (change)="buscarNombreIdentificador()">
            @for(identificador of identificadores; track identificador.numero_identificador){
            <option [value]="identificador.numero_identificador">{{identificador.nombre_identificador}}</option>
            }
          </select>
        }
         

        <!--Campo que se despliega cuando el numero identificador es 4 que corresponde a modelo marca-->
        @if((formularioTickets.get('numero_identificador')?.value == 4 &&
        formularioTickets.get('ehs_approval')?.value )){
          <input type="text" class = "informacion" formControlName = "codigo2">
        }
      </div>
      <!--Numero serie input/label envuelto en container para no afectar el estilo aplicado-->
      <!--Colocaremos el caso de que no cuente con el numero de serie-->
      <!--Campo activable para colocar información alterna al numero de serie-->
      <div class="info">
        <input type="text" class="informacion" formControlName = "codigo" [class.lleno]="formularioTickets.get('codigo')?.value">
        @if(!formularioTickets.get('ehs_approval')?.value){
          <span>Número de serie:</span>
          
        }@else{

            <span>{{nombreBuscado }}</span>
          
        }
      </div> 

      <!--elemento para saber más información acerca del campo de numero de serie-->
      <div class="contenedortooltip">
        <div class="tooltip">
          <span><i class="fa fa-info-circle"></i></span>
          <div class="tooltip-text">En caso de ser un kit de cámaras de caja favor de colocar la serie que tiene la caja</div>
        </div>
      </div>

      <!--Checkbox para activar el campo especial-->
     
      <div class="desplegar-modelo">
        <label>No cuento con el numero de serie </label>
        <div class="col-md-6 reject-checkbox">
          <div class="mb-2 text-center">
            <div class="checkbox-wrapper">
              <input
                name="ehs_approval"
                class="form-check-label custom-radio-label"
                id="Rejected"
                type="checkbox"
                formControlName = "ehs_approval"
              />
              <label for="Rejected">
                <div class="tick_mark">
                  <div class="cross"></div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>


      


      <!--Asunto input/label-->
      <div class = "asunto-contenedor">
        <label id="tasunto">Asunto:</label>
        <div class="asuntoInput">
          <div class="item">
            <input id="soporte"  type="radio"  formControlName ="asunto" value="soporte" class="radio-button" checked="checked">
            <span class="checked"></span>
            <label for="soporte" class="textoInput">Soporte</label> 
          </div>
          <div class="item">
            <input id="garantia"  type= "radio" formControlName="asunto" value="garantia" class="radio-button">
            <span class="checked"></span>
            <label for="garantia" class="textoInput">Garantia</label>
          </div>
          <div class="item">
            <input id="factura"  type= "radio" formControlName="asunto" value="factura"  class="radio-button"> 
            <span class="checked"></span>
            <label for="factura" class="textoInput">Factura</label>
          </div>
        </div>
      </div>

      
      <!--Nombre de cliente input/label-->
      <div class="info">
        <input type="text" formControlName="nombre" [class.lleno]="formularioTickets.get('nombre')?.value">
        <span >Nombre:</span>
      </div>

      <!--Cuando no se cumple el patrón correspondiente lanza el siguiente campo de información-->
      @if(contieneNumeros(formularioTickets.get('nombre')?.value)){
        <div class="contenedorinombre errorinfo" >
          <div class="tooltip">
            <span><i class="fa fa-info-circle"></i></span>
            <div class="tooltip-text">
              Ingrese solo letras
            </div>
          </div>
        </div>
      }
      
     
      <div class="info">
        <!--Correo input/label-->
        <input type="email" formControlName = "correo" [class.lleno]="formularioTickets.get('correo')?.value"> 
        <span >Correo:</span>
      </div>

      <!--Cuando no se cumple el patrón correspondiente lanza el siguiente campo de información-->
      @if(formularioTickets.get('correo')?.invalid && formularioTickets.get('correo')?.touched){
        <div class="contenedoricorreo errorinfo">
          <div class="tooltip">
            <span><i class="fa fa-info-circle"></i></span>
            <div class="tooltip-text">Ingrese un correo válido utilizando<br> ejemplo <br>'correo&#64;hotmail.com'</div>
          </div>
        </div>
      }
      


      <!--Telefono input/label-->
      <div class= "info">
        <input id="telefono" type="tel" formControlName = "telefono" [class.lleno]="formularioTickets.get('telefono')?.value">
        <span id="ttelefono">Teléfono:</span>
      </div>

      <!--Descripción input/label-->
      <div class="info">
        <textarea formControlName = "descripcion" rows="4" cols="50" [class.lleno]="formularioTickets.get('descripcion')?.value"></textarea>
        <span id="tdescripcion">Descripción:</span>
      </div>

      <!--boton para interactuar con el formulario-->
      @if(modo === 'crear'){
        <button type="submit" class="item7" [disabled] = "formularioTickets.invalid"> <!--[disabled]="miFormulario.form.invalid"
          (click)="crearticket($event)">-->
            Guardar
          </button> 
      }@else {         
         <!--En caso de ser llamado como formulario de actualizar se llama el siguiente botón-->
          <button type="submit" class="item7"  (click)="solicitaractualizacion()" [disabled] = "formularioTickets.invalid"><!--[disabled]="miFormulario.form.invalid"-->
            Actualizar
          </button>
          <button class="cancelar" type="button" (click)="cancelarFormulario()">
            Cancelar
          </button>
        
        }
      
    </form>
  </div>
</div>

