
.container{
    display: flex;
    flex-flow: column;
    padding: 20%;
    gap: 50px;
    height: 500px;
}
.info{
    position:relative;
}
.info select{
    width: 200px;
    height: 30px;
}
h1{
    color:var(--azul-titulo);
}
.info input, .info select{
    background-color: var(--azul);
    padding: 0px 20px;
    outline: none;
}
.info span{
    text-transform: capitalize;
    position: absolute;
    pointer-events: none;
    top:50%;
    transform:translateY(-50%);
    left: 10%;
    color: var(--azul-oscuro);
    transition: transform .5s, left .5s, color .5s ;
}
button{
    display: inline-block;
    background-color: var(--azul-claro);
    color: white;
    width: 200px;
    height: 30px;

}
button:active{
    background-color: var(--azul);
}
.info input:focus + span, .info input.lleno + span,
.info select:focus + span, .info select.lleno + span {
    color: white;
    left: 0;
    transform: translateY(-200%);
}
.info input.ng-touched.ng-invalid{
    border:.3px solid red;
}