<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit();">
        <span>correo</span> <input type="text" formControlName = "correo">
        <span>nombre de usuario</span> <input type="text" formControlName = "nombre_usuario">
        <span>password</span> <input type="password" formControlName = "password">
        <span>confirma password</span> <input type="password" formControlName = "password">
        <span>rol</span> <input type="text" formControlName = "rol">
        <button type="submit"> Registrar</button>
    </form>
</div>
