
.container{
    display: flex;
    flex-flow: column;
    padding: 20%;
    gap: 50px;
    height: 500px;
}
h1{
    color:var(--azul-titulo);
}

button{
    display: inline-block;
    background-color: var(--azul-claro);
    color: white;
    width: 200px;
    height: 30px;

}
button:active{
    background-color: var(--azul);
}
