<div class="item" id="tabla">
    <table>
      <thead>
        <tr class="fila-titulos">
          <th>Numero ticket</th>
          <th>Numero producto</th>
          <th>Numero serie / modelo</th>
          <th>Numero compra cot</th>
          <th>Asunto</th> 
          <th>Numero cliente</th>
          <th>Nombre cliente</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Cerrado</th>
          <th>Numero agente</th>
          <th>Nombre cliente</th>
          <th> </th>
          <th> </th>

        </tr>
      </thead>
      <tbody>
        <!-- Listado de productos -->
        @for (producto of tablatickets; track producto.numero_ticket){
          <tr>
            <td>{{ producto.numero_ticket }}</td>
            <td>{{ producto.numero_producto }}</td>
            <td>{{ producto.numero_serie_modelo }}</td>
            <td>{{ producto.numero_compra_cot }}</td>
            <td>{{ producto.asunto }}</td>
            <td>{{ producto.numero_cliente }}</td>
            <td>{{ producto.nombre_cliente }}</td>
            <td>{{ producto.telefono }}</td>
            <td>{{ producto.correo }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.estado }}</td>

            <td>{{ producto.cerrado }}</td>
            <td>{{ producto.numero_agente }}</td>
            <td>{{ producto.nombre_cliente }}</td>
            
            
            <td> 
               <i  class="fa fa-edit" *ngIf="!producto.editar; else confirmar" (click)="editar(producto)"></i>
               <ng-template #confirmar>
                <i class="fa fa-check " ></i>
                <i class="fa fa-times " ></i>
               </ng-template> 
            </td>
            
            
            <td> 
              <i (click)="eliminar(producto.numero_ticket)" class="fa fa-trash"></i>
            </td>
          </tr> 
        }

      </tbody>
    </table>
  </div>
  <div class="fondoFormulario" *ngIf="mostrar">
    <div  class="editar">
      <app-generar-ticket [modo]="'editar'" (mostrarChange)="ocultar()" (obtenerDatos)="cargarTickets()" (cargarTicketsEvent)="cargarTickets()"
      [ticket]="tickettemp">
      </app-generar-ticket>
    </div>
  </div>