
<form class="info miformulario" [formGroup]="formulario">
<label class = "subtitulo">FILTROS: </label>
<select formControlName="estado" class = "selector-estado" (change)="cargarTickets()">
  <option value="">ninguno</option>
  <option value="NUEVO">nuevo</option>
  <option value="CERRADO">cerrado</option>
  <option VALUE="ABIERTO">abierto</option>
  <option VALUE="EN ESPERA">EN ESPERA</option>
  <option VALUE="PENDIENTE">PENDIENTE</option>

</select>
</form>
<div class = "contenedor">
  
  <div class ="titulos" (focus)="focus=true" [ngStyle]="focus ? estilo():null">
    <div>N. ticket</div>
    <div>N. producto</div>
    <div>Codigo</div>
    <div>N. compra cot</div>
    <div>Asunto</div> 
    <div>N. cliente</div>
    <div>Nombre cliente</div>
    <div>Teléfono</div>
    <div>Correo</div>
    <div>Estado</div>
    <div>N. agente</div>
    <div>Fecha</div>
    <div>Hora</div>
  </div>
  <!-- Listado de productos -->
  <div class = "datos-container">
    @for (ticket of tablatickets; track ticket.numero_ticket){
      <div class = "envoltura-datos">

        <div class = "tarjeta-datos" >
          <div [ngStyle]="ticket.seleccionado?estilosMarcado():null" class = "datos texto" (click)="abrirTicket(ticket)" >
            <div class = "primera-linea" >
              {{ ticket.numero_ticket }}
            </div>
            <div class = "texto">{{ ticket.numero_producto }}</div>
            <div class = "tipo-codigo texto">{{ticket.tipo_codigo}}</div>
            <div class="texto">{{ ticket.numero_compra_cot }}</div>
            <div class= "texto">{{ ticket.asunto }}</div>
            <div class= "texto">{{ ticket.numero_cliente }}</div>
            <div class= "texto">{{ ticket.nombre_cliente }}</div>
            <div class= "texto">{{ ticket.telefono }}</div>
            <div class="correo texto">{{ ticket.correo }}</div>
            <div class="estado texto" [ngStyle]="estiloEstado(ticket.estado)">{{ ticket.estado }}</div>
            <div class = "texto">{{ ticket?.numero_agente || 'No asignado' }}</div>
            <div class = "texto">{{ ticket.fecha }}</div>
            <div class = "texto">{{ ticket.hora }}</div> 
          </div>
        </div>

        <div class="menu" (click)="activarCheck(ticket)"  >
          <fa-icon [icon]="faBars"  for="activable" class = "bar-icon icono" ></fa-icon>
          <section class = "opciones-list">
            <fa-icon [icon]="faComment" class= "edit-icon icono" (click)="editar(ticket);  obtenerRefTicketComentarios(ticket.numero_ticket)" [ngStyle]="ticket.opciones ?estiloEdit():null"></fa-icon> 
            <fa-icon  [icon]="faHourgalss" class="lock-icon icono" (click)="mensajeConfirmacionPendiente(ticket)" [ngStyle]="ticket.opciones ?estiloLock():null"></fa-icon>
          </section>
        </div>

      </div>

    }
  </div>
</div>
<div class="centrado" *ngIf="mostrar">
<div  class="editar">
  <app-editar-ticket [ticket]="tablaTicketstemp" (salirFormulario)="ocultar()" [numeroTicket]="refTicketComentarios" />
</div>
</div>

<app-mensaje-aviso *ngIf="mensajeAviso" (cerrarEvent)="(ocultarMensajeAviso())" 
(cerrarTicketEvent)="cerrarTicket(tablaTicketstemp.numero_ticket)" (actualizarEvent)="aceptaractualizar()" (desmarcarEvent)="desmarcar()"
  [modoMensajeFormulario]="modoMensajeFormulario" class = "centrado"></app-mensaje-aviso>

