<div class="bandeja-notificaciones">

    @for( notificacion of notificacionesMostradas; track notificacion.numero_notificacion){
    
        <div class = "notificacion"  (click)="leerNotificacion(notificacion.numero_notificacion)">

            {{notificacion.numero_notificacion}}
            <div id="titulo"  ><div id="fecha" [class.pendiente]="!notificacion.visto">{{notificacion.fecha}}</div></div>
            <div id="cuerpo"><div>{{ notificacion.mensaje }}</div>
        </div>
        
            
        </div>
    }

<div>

