<div class="bandeja-notificaciones">

    @for( notificacion of notificaciones; track notificacion.numero_notificacion){
    
        <div class = "notificacion"  (click)="leerNotificacion(notificacion.numero_notificacion, notificacion.numero_ticket)">

            <div id="titulo" > <div id="numero-ticket" [ngClass]="notificacion.estado_notificacion?'numero-ticket visto':'numero-ticket pendiente'">#{{notificacion.numero_ticket}}</div><div id="fecha">{{notificacion.fecha}}</div></div>
            <div id="cuerpo"><div>{{ notificacion.mensaje }}</div><div id="nombrecliente">{{notificacion.nombre_cliente}}</div></div>
        
            
        </div>
    }

<div>

